*,
:after,
:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    height: 100%;
    font-size: 100%;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    font-family: Variable-Roman, Arial, san-serif !important;
    font-size: 1rem !important;
    line-height: 1 !important;
    text-rendering: optimizeLegibility !important;
    -moz-osx-font-smoothing: grayscale !important;
    -webkit-font-smoothing: antialiased !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
::-moz-selection {
    color: red;
}
::selection {
    background-color: blue;
    color: red;
}
::-moz-selection {
    background-color: blue;
    color: red;
}

.navbar-brand{
    z-index: 1;
    font-family: Helvetica, sans-serif;
    font-weight: 900;
}
.navbar-brand>span{
    color: antiquewhite;
}

#wrapper-home{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    min-height: 90vh;
    background: #161623;
}
#wrapper-home:before {
    content: "";
    position: absolute;
    top: 0;
    Left: 0;
    width: 100vw;
    height: 95vh;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(30% at right 70%);
}
#wrapper-home:after {
    content: "";
    position: absolute;
    top: 0;
    Left: 0;
    width: 100vw;
    height: 95vh;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(20% at 10% 10%) ;
}

.image-uploader{
    z-index: 1;
    color:white;
    width: 100vw;
    height: 95vh;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}
.mainText{
    font-family: 'Courier New', monospace;
    font-size: 5.5vh;
    line-height: 8vh;
}
.tagLine{
    padding-left: 5vw;
    font-family: 'Brush Script MT', cursive;
    font-size: 4vh;
    line-height: 5vh;
}
code{
    font-family: 'Times New Roman', serif
}
#lottie{
    width:100%;
    height:100%;
    display:block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
}
.import{
    font-size: 18px;
    color: #1fe8b6;
    border: 3px dotted #1fe8b6;
    padding: 0px 5vw ;
    position: relative;
}
.import::before,
.import::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px dashed #1fe8b6;
    transition: all .5s;
}
.import::before{
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
}
.import::after{
    bottom: -15px;
    right: -15px;
    border-width: 0 3px 3px 0;
}
.import:hover::before,
.import:hover::after{
    width: calc(100% + 27px);
    height: calc(100% + 27px);
}

.image-upload>input {
    display: none;
}
.section-upload{
    background: #161623;
    color:white;
}
.compressText {
    font-family: 'Courier New', monospace;
    font-size: 4vh;
    line-height: 8vh;
    font-weight: bold;
}
.section-upload .tagLine{
    padding-left: 2vw;
}
.pointer:after{
    content: ' \0514';
    color: aquamarine;
}

.rightDirection:after{
    content: ' \21F0';
}

#BC .slider-selection {
	background: #8283FF;
}
#BC .slider-handle {
}
#B {
	width: 300px;
}