{% extends "base_template.html" %}
{% block title %}Home{% endblock %}

{% block img_block %}

<div class="col-md-7">
    <div class="caption">
        <p class="mainText">A easy way to Work with Images</p>
        <p class="tagLine">Customize your images with <code>Images.IO</code></p><br><br>
    </div>
    <center>
        
            <label for="file" class="import" id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <a href="{{ image}}" download> <img style="width:400px; height:400px" src= "{{ image}}" alt="" > </a>
                <p>Size: {{img_props.get('File Size') }}KB</p>
                
               
            </label>
            <br>
            <br>
            <form action="http://127.0.0.1:5000/analyse" method="post">
                <input type="text" name = "flag" hidden value="analyze">
                Compression ratio: <input type="number" name="compressRatio" id="" value = "{{compress_ratio}}">
                width <input type="number" name="imgWidth" id="" value="{{img_props.get('Image Size')[0]}}">
                height <input type="number" name="imgHeight" id="" value="{{img_props.get('Image Size')[1]}}" >
                <button type="submit">Apply changes</button>
            </form>
            <a href="{{ image}}" download> <button>download</button></a>
    </center>
</div>

{% endblock %}